{% extends 'base.html.twig' %}

{% block title %} {{ category.name }}{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>
    <h2>Modifier la categorie</h2>



    {{ form(form_edit) }}
{% endblock %}